body {
    background-image: url(../images/dust_scratches.png)
}

#copyright {
    background-color: rgb(87, 80, 80);
    text-align: center;
    color: white;
    font-weight: 300;
}

#contact {
    text-align: center;
    height: 40px;
    background-color: rgb(56, 53, 53);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 21px;
}

#form {
    text-align: center;
}

#description {
    background-color: rgb(49, 47, 47);
}

#portfolio {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
